/* GLOBAL */

body {
	background-color: #050505;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

div {
	display: block;
}

video {
	mix-blend-mode: multiply;
	/*z-index: 1;*/
}


/* Audio Controls */
audio {
	position: fixed;
	top: 0;
	left: 0;

	mix-blend-mode: lighten;
}

.pipes {
	position: absolute;
	width: 100%;
	height: 100%;
}

img.pipes {
	position: absolute;
	width:100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.08;
}



#scene {
	width: 700px;
	height: 525px;
	perspective: 1000px;
}



/* 3d DRAWING */
.tvbox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transform: rotateY(45deg) translateY(400px);
	animation: moveback 8800ms ease forwards,
						 pulse 35200ms ease-in-out infinite 8800ms;
	/* transform: rotateY(180deg) rotateX(25deg); */
}

@keyframes moveback {
	0% {transform: translateZ(500px); pointer-events: none;}
	100% {transform: translateZ(-100px) translateX(50px) rotateY(-30deg) rotateZ(10deg); pointer-events: unset;}
} 

@keyframes pulse {
	0% {transform: translateZ(-100px) translateX(50px) rotateY(-30deg) rotateZ(10deg); }
	25% {transform: translateZ(-100px) translateX(50px) rotateY(-50deg) rotateZ(10deg) rotateX(-10deg) translateZ(20px); }
	50% {transform: translateZ(-100px) translateX(50px) rotateY(-30deg) rotateZ(10deg);}
	75% {transform: translateZ(-100px) translateX(50px) rotateY(30deg) rotateZ(-10deg) translateZ(20px); }
	100% {transform: translateZ(-100px) translateX(50px) rotateY(-30deg) rotateZ(10deg); }
}

.face {
	position: absolute;
}


.face:nth-child(1) {
	width: 700px;
	height: 525px;
	transform: rotateY(0deg) translateZ(175px);
	background: black;
	overflow: hidden;
} 

/* DRAWING */

img.overlay{
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.face:nth-child(1):hover  img.overlay {
	position: absolute;
	filter: blur(1px);
	top: 65px;
	height: 395px;
	left: 0;
	opacity: 0.4;
	z-index: 2;
	mix-blend-mode: screen;
}

.ghost {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .8;
	filter: blur(1px);
	mix-blend-mode: screen;
}

.static {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .6;
	filter: grayscale(60%) blur(2px);
	min-height: 100%;
	mix-blend-mode: multiply;
	z-index: 1;
	/*height: aut*/
	/*filter: blur(4px);*/
}

.face:nth-child(1):hover > video{
	visibility: hidden;
	display: none;
	opacity: 0;
}


/* Other Faces */

.face:nth-child(2) {
	width: 350px;
	height: 525px;
	transform: rotateY(90deg) translateZ(525px) rotateY(5deg) translateZ(-15.25px) translateY(1.33px) ;
	fill: #333;
} 


/* back */
.face:nth-child(3) {
	width: 639px;
	height: 401px;
	transform: rotateY(180deg) translateZ(172.5px) translateY(calc(30.86px * 2)) translateX(calc(-15.25px * 2));
	background-color: #333;
} 

/* left */

.face:nth-child(4) {
	width: 350px;
	height: 525px;
	transform: rotateY(-90deg) translateZ(175px) rotateY(-5deg) translateZ(-15.25px) translateY(-1.33px) ;
	fill: #333;
}

/* top */
svg.face:nth-child(5) {
	width: 700px;
	height: 350px;
	transform: rotateX(90deg) translateZ(175px) rotateX(10deg) translateZ(-30.39px) translateY(-5.35px); 
	fill: #333;
} 

/* bottom */
svg.face:nth-child(6) {
	width: 700px;
	height: 350px;
	transform: rotateX(-90deg) translateZ(350px) rotateX(-10deg) translateZ(-30.39px) translateY(5.35px);
	fill: #333;
} 

/* antennas */
.antenna {
	position: absolute;
	background-color: #333;
	width: 14px;
	height: 200px;
	border: 1px solid black;
}
/* front left */
div.antenna:nth-child(7) {
	transform: translateY(-120px) translateX(300px) rotateZ(-15deg);
}

/* back left */
div.antenna:nth-child(9) {
	transform: translateY(-120px) translateX(300px) rotateZ(-15deg) translateZ(-14px);
}

/* left left */

div.antenna:nth-child(11) {
	transform: rotateY(90deg) translateY(-120px) translateZ(300px) rotateX(15deg) translateX(7px) translateZ(7px);
}

/* right left */
div.antenna:nth-child(13) {
	transform: rotateY(90deg) translateY(-120px) translateZ(300px) rotateX(15deg) translateX(7px) translateZ(-7px);;
}



/* front right */
div.antenna:nth-child(8) {
	transform: translateY(-120px) translateX(400px) rotateZ(15deg);
}

/* back right */
div.antenna:nth-child(10) {
	transform: translateY(-120px) translateX(400px) rotateZ(15deg) translateZ(-14px);
}

/* left right */
div.antenna:nth-child(12) {
	transform: rotateY(90deg) translateY(-120px) translateZ(400px) rotateX(-15deg) translateX(7px) translateZ(7px);
}

/* right right */
div.antenna:nth-child(14) {
	transform: rotate(90deg) translateY(-120px) translateX(400px) rotateZ(-15deg) translateX(7px) translateZ(-7px);
}
